@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-one: #FFFFFF;
    --color-two: #1E1E25;
    --color-text: #777777;
    --font: "Raleway", sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    font-family: var(--font);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}